.container-sm {
    width: 90px;
    text-align: left;
    background-color: rgb(235, 235, 241);
    padding: 8%;
    height: 574px;
    padding-top: 2%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.8);
}

.container-sm,
input,
select {
    border-radius: 3px;
    display: block;
    margin-left: 0;
    width: 478px;
}

.fst-normal {
    text-align: center;
    font-family:'Montserrat', sans-serif;
}

.nav-link {
    text-align: center;
}

body {
    background: linear-gradient(45deg, #ff9a9e, #fad0c4, #a1c4fd, #c2e9fb);
    background-size: 300% 300%;
    animation: gradientMove 12s ease infinite;
    margin: 0;
}