.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    max-width: 900px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;

}

.card {
    background: white;
    padding: 15px;
    border-radius: 5px;
    text-align: left;
    box-shadow: 0 2px 6px rgba(172, 161, 221, 0.1);
    transition: 0.2s;
    background-color: rgb(203, 199, 223);
}

.card:hover {
    transform: scale(1.03);
}
h4{
border-radius: 3px;
    background-color: rgb(147, 192, 229);
}
